body {
  background-color: #fff0f5;
  font-family: 'Montserrat', cursive;
}

h1 {
  font-family: 'Merriweather', cursive;
}

h2 {
  font-family: 'Merriweather', cursive;
}
hr {
  border-color: #efa8e4;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
}
/***************CLASS SELECTOR*********/
.name {
  font-family: 'Merriweather', cursive;
  font-size: 30px;
}
.email {
  position: relative;
  left: 38px;
}
.pictures {
  border-spacing: 5em 1em;
}
.birthday {

        position: relative;
        display: inline-block;
    }
.bday-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
.birthday:hover .bday-top {
        display: inline;
    }
.valentines {
            position: relative;
            display: inline-block;
        }
.valentines .vday-top {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
.valentines:hover .vday-top {
            display: inline;
        }
.beach {
                position: relative;
                display: inline-block;
            }
.beach .beach-top {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
.beach:hover .beach-top {
                display: inline;
            }
.illustrations {
  background-color: #f8e1f4;
  position:relative;
  height: 1000px;
}
.illus-of-fel {
  padding-top: 20px;
}
.fel-source {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 550px;
  left: 300px;
}

.fel-1 {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 300px;
  top: 200px;
}

.fel-2 {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 300px;
  top: 200px;
}

.fel-fav {
  width: 353px;
  height: 250px;
  position: absolute;
  top: 550px;
  right:250px;
}
